
    <h1>Đăng ký thành công</h1>
    <h1>Chào mừng bạn đến với WeLearn</h1>
    <p>Vui lòng đi Đăng nhập để sử dụng hệ thống</p>
    <a asp-action="Login" asp-controller="User">Đăng nhập</a>
    <p>Nếu bạn cần hỗ trợ, vui lòng liên hệ qua email: <a href="mailto:support@yourwebsite.com">support@yourwebsite.com</a></p>
