td.hidetext {
    max-width: 300px;
}

    td.hidetext p {
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal; 
    }

td.hidetext.expanded p {
    max-height: initial;
    -webkit-line-clamp: initial;
}

thead th {
    font-weight: bold;
    text-align: center;
    background-color: #e7e7ff !important;
    color: #696cff !important;
}

label {
    font-weight: 600 !important;
    font-size: 14px !important;
    text-transform: lowercase;
}

.hide {
    display: none;
}