@{
    ViewData["Title"] = "Empty Cart";
}

<!-- Empty cart -->
<div class="Checkout-empty d-flex justify-content-center align-items-center">
    <div class="empty d-flex flex-column align-items-center">
        <img src="https://kt.city/static/img-empty-cart.png" class="empty__image">
        <h2 class="empty__title fs-4 mt-5">
            Giỏ hàng trống, khám phá kiến thức 
            <a class="empty__link fw-bold" asp-action="Index" asp-controller="Course">tại đây</a>.
        </h2>
    </div>
</div>