@model WeLearnOnine_Website.Models.Lesson

@{
    ViewData["Title"] = "EditLesson";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fuild flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Lesson/</span> Edit</h4>
    <form asp-action="UpdateLesson" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-xl">
                <div class="card">
                    <div class="card-body">
                        <input class="form-control" asp-for="LessonId" asp-validation-for="LessonId" id="i-input" />
                        <script>
                            document.getElementById("i-input").style.display = "none";
                        </script>

                        <div class="input-group my-3">
                            <label class="input-group-text" asp-for="CourseId">Course</label>
                            <select asp-for="CourseId" asp-items="ViewBag.CourseId" class="form-select">
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label" asp-for="Title"></label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" asp-for="Title" asp-validation-for="Title"></textarea>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon11">STT</span>
                            <input type="text" class="form-control" placeholder="10" aria-label="STT" aria-describedby="basic-addon11" asp-for="Stt">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon11">Time (mins, s)</span>
                            <input type="text" class="form-control" placeholder="10s" aria-label="Time" aria-describedby="basic-addon11" asp-for="Time">
                        </div>

                        <div class="input-group my-3">
                            <label class="input-group-text" asp-for="TypeId">Type</label>
                            <select asp-for="TypeId" asp-items="ViewBag.TypeId" class="form-select">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl">
                <div class="card">
                    <div class="card-body">
                        @*      <div class="mb-3">
                        <label asp-for="ImageLessonUrl" class="form-label">Course Image</label>
                        <input type="file" class="form-control" id="ImageCourseUrl" name="ImageCourseUrl" onchange="checkFileSize(this, 200)">
                        <input type="hidden" name="ExistingImageCourseUrl" value="@Model.ImageLessonUrl" />

                        <label id="ImageCourseUrl-error" class="text-danger"></label>
                        </div> *@

                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-10">
                                    <label asp-for="ImageLessonUrl" class="form-label">Image Lesson</label>
                                    <input type="file" class="form-control" id="ImageLessonUrl" name="ImageLessonUrl" onchange="checkFileSize(this, 50)">
                                    <label id="ImageLessonUrl-error" class="text-danger"></label>

                                    @* Add a hidden input field to store the current AvatarUrl value *@
                                    <input type="hidden" id="CurrentAvatarUrl" value="@Model.ImageLessonUrl" />
                                </div>
                                <div class="col-md-2">
                                    <div id="imagePreview" style="display: none;">
                                        <img id="selectedImage" src="" alt="Selected Image" width="100" height="100">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>
                            const fileInput = document.getElementById('ImageLessonUrl');
                            const imagePreview = document.getElementById('imagePreview');
                            const selectedImage = document.getElementById('selectedImage');
                            const currentAvatarUrl = document.getElementById('CurrentAvatarUrl').value;

                            // Display the current image if it exists
                            if (currentAvatarUrl) {
                                selectedImage.src = currentAvatarUrl;
                                imagePreview.style.display = 'inline-block';
                            }

                            fileInput.addEventListener('change', function () {
                                const file = fileInput.files[0];
                                if (file) {
                                    const reader = new FileReader();
                                    reader.onload = function (e) {
                                        selectedImage.src = e.target.result;
                                        imagePreview.style.display = 'inline-block';
                                    };
                                    reader.readAsDataURL(file);
                                } else {
                                    selectedImage.src = '';
                                    imagePreview.style.display = 'none';
                                }
                            });
                        </script>

                        @*   <div class="mb-3">
                        <label asp-for="UrlVideo" class="form-label">Course Video</label>
                        <input type="file" class="form-control" id="PreviewUrl" name="PreviewUrl" onchange="checkFileSize(this, 200)">
                        <input type="hidden" name="ExistingPreviewUrl" value="@Model.UrlVideo" />
                        <label id="PreviewUrl-error" class="text-danger"></label>
                        </div> *@

                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <label asp-for="UrlVideo" class="form-label">Lesson Video</label>
                                    <input type="file" class="form-control" id="UrlVideo" name="UrlVideo" onchange="displaySelectedVideo(this)">
                                    <label id="UrlVideo-error" class="text-danger"></label>

                                    @* Add a hidden input field to store the current UrlVideo value *@
                                    <input type="hidden" id="CurrentUrlVideo" value="@Model.UrlVideo" />
                                </div>
                                <div class="col-md">
                                    <div id="videoPreview" style="display: none;">
                                        <video controls id="selectedVideo">
                                            Your browser does not support the video tag.
                                        </video>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>
                            const urlVideoInput = document.getElementById('UrlVideo');
                            const videoPreview = document.getElementById('videoPreview');
                            const selectedVideo = document.getElementById('selectedVideo');
                            const currentUrlVideo = document.getElementById('CurrentUrlVideo').value;

                            // Display the current video if it exists
                            if (currentUrlVideo) {
                                selectedVideo.src = currentUrlVideo;
                                videoPreview.style.display = 'inline-block';
                            }

                            function displaySelectedVideo(input) {
                                const file = input.files[0];
                                if (file) {
                                    const reader = new FileReader();
                                    reader.onload = function (e) {
                                        selectedVideo.src = e.target.result;
                                        videoPreview.style.display = 'inline-block';
                                    };
                                    reader.readAsDataURL(file);
                                } else {
                                    selectedVideo.src = '';
                                    videoPreview.style.display = 'none';
                                }
                            }
                        </script>



                        <div class="input-group mt-3 d-flex justify-content-end">
                            <a data-bs-toggle="modal" data-bs-target="#smallModal-update" style="cursor: pointer;">
                                <span class="btn btn-primary">
                                    <i class="bx bx-edit-alt"></i> Update
                                </span>
                            </a>

                            <a asp-action="Index" class="btn btn-outline-secondary ms-2">
                                <span>Cancel</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="smallModal-update" tabindex="-1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">Notification</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col mb-3">
                                <h3>Are you sure you want to Update?</h3>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            Close
                        </button>

                        <input class="btn btn-success mx-3" value="Confirm" type="submit">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
