@model IEnumerable<WeLearnOnine_Website.Models.Lesson>

<div class="form-group">
    <label class="d-flex align-items-center">
        Course:
        <form asp-controller="Lesson" asp-action="ShowLessonByCourse" method="get" class="form-inline">
            <select asp-items="ViewBag.CourseId" name="CourseId" onchange="this.form.submit()">
                <option value="">---------- Course ----------</option>
            </select>
        </form>
    </label>
</div>

   