@model WeLearnOnine_Website.ViewModels.DetailCourseViewModel

<div id="comments-container">
    <p>@Model.ContentNote</p>
    <p>@Model.UserName</p>
</div>
<div>
    <!-- Partial view chứa comment sẽ được hiển thị ở đây -->
</div>