@model WeLearnOnine_Website.ViewModels.DetailCourseViewModel

<div class="replies-container" id="replies-@Model.Comments">
    <p>@Model.UserName</p>
    <p>@Model.ContentNote</p>
    <p>Replied by: @Model.StaffName</p>
</div>